.page {
  background: #f5f7fa;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 1rem;
  font-size: 12px;
}

h2 {
  margin: 0.5rem 0;
}

.compactTable th {
  background-color: #d0ebff;
  color: #003366;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.compactTable tr:hover {
  background-color: #fff8dc;
  cursor: pointer;
}

.compactTable th,
.compactTable td {
  padding: 0.4rem;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
}

.selected {
  background-color: #ffff99 !important;
}

input,
button {
  margin-right: 0.5rem;
  padding: 0.25rem 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 12px;
}