.top-bar {
  background-color: #001c48;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.navbar {
  display: flex;
  position: relative;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.logo {
  position: absolute;
  left: 24px;
  font-size: 20px;
  font-weight: bold;
  color: #066da5;
}

.auth-buttons {
  position: absolute;
  right: 24px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.username-blue {
  color: #00aaff;
  font-weight: bold;
}